<nav class="navbar navbar-expand bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Medium_blog</a>
    </div>
    <div>
        <div class="dropdown me-2">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{#if admin}}
    {{admin}}
    {{else if topicmgr}}
    {{topicmgr}}
    {{else if user}}
    {{user.email}}
    {{else}}
    Account
    {{/if}}
  </button>
  <ul class="dropdown-menu">
    {{#if admin}}
    <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
     
    {{else if user}}
    <li><a class="dropdown-item" href="/users/profile">profile</a></li>
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
    {{else if topicmgr}}
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
    {{else}}
    <li><a class="dropdown-item" href="/users/signup">User Signup</a></li>
    <li><a class="dropdown-item" href="/users/login">User Login</a></li>
    <li><a class="dropdown-item" href="/admin/login">Admin</a></li>
    <li><a class="dropdown-item" href="/admin//topicmanager/login">topicmanager login</a></li>
    {{/if}}
  </ul>
</div>
    </div>
</nav>